/DezSys04_Weinb_5BHIT.aux
/DezSys04_Weinb_5BHIT.lof
/DezSys04_Weinb_5BHIT.log
/DezSys04_Weinb_5BHIT.lol
/DezSys04_Weinb_5BHIT.lot
/DezSys04_Weinb_5BHIT.out
/DezSys04_Weinb_5BHIT.synctex.gz
/DezSys04_Weinb_5BHIT.toc
/quellen.log
